/* GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed:wght@400;700&family=Bellefair&display=swap');

/* VARIABLES CSS */
:root{
    --header-height:3.5rem;

    /* Colors */
    --text-color:#D0D6F9;
    --head-color:#FFFFFF;

    /* Font and typography */
    /*.5rem = 8px | 1rem = 16px ... */
    --font-barlow: 'Barlow', sans-serif;
    --font-barlow-condensed: 'Barlow Condensed', sans-serif;
    --font-bellefair: 'Bellefair', serif;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    /* Font weight */
    --font-regular:400;
    --font-bold:700;

    /* z-index */
    --z-tooltip: 10;
    --z-fixed: 100;

    /* Background Image Path */
    --mobile-bg-img:url(../home/background-home-mobile.jpg);
    --tablet-bg-img:url(../home/background-home-tablet.jpg);
    --desktop-bg-img:url(../home/background-home-desktop.jpg);
}


/* BASE */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
    height: 100%;
}

body{
    font-family: var(--font-barlow);
    font-size: var(--normal-font-size);
    background-image: var(--mobile-bg-img);
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--text-color);
}

h1,h2,h3 {
    color: var(--head-color);
    font-weight: var(--font-regular);
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

img{
    height: auto;
}

@media screen and (min-width:577px) {
    body{
        background-image: var(--tablet-bg-img);
    }
}

@media screen and (min-width:1100px) {
    body{
        background-image: var(--desktop-bg-img);
    }
}



/* RESUABLE CSS CLASSES */
.container{
    max-width: 100%;
    margin-right: 1.5rem;
    margin-left: 1.5rem;
    margin-top: 1rem;
}

.grid{
    display: grid;
    gap: 1.5rem;
}

.section{
    padding: 4.5rem 0 2rem;
}

.section__title {
    font-size: var(--h2-font-size);
    text-align: center;
    margin-bottom: 2.5rem;
}

.main{
    overflow: hidden;
}

/* HEADER & NAV */
.header{
    width: 100%;
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
}

.nav{
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.5rem;
}

.nav_toggle{
    display: inline-flex;
}

.nav_logo{
    align-items: center;
    column-gap: .25rem;
    cursor: pointer;
    margin-right: 1rem;
}

.nav_logo img{
    width: 48px;
}

.nav_toggle{
    cursor: pointer;
}

@media screen and (max-width:576px) {
    .nav_menu{
        position: fixed;
        top: 0;
        right: -100%;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.04);
        backdrop-filter: blur(96px);
        transition: .3s;
    }
}

.nav_list{
    display: flex;
    flex-direction: column;
    text-align: left;
    row-gap: 3rem;
    padding-top: 9rem;
    padding-left: 3rem;
}

.nav_link{
    text-transform: uppercase;
    color: var(--head-color);
    font-family: var(--font-barlow-condensed);
    font-size: var(--h3-font-size);
    font-weight: var(--font-regular);
    line-height: 19px;
    letter-spacing: 2.7px;
}

.nav_nums{
    font-weight: var(--font-bold);
}

.rectangle-home,
.rectangle-crew,
.rectangle-destination,
.rectangle-technology {
    width: 4px;
    height: 31px;
    display: inline-block;
    position: absolute;
    right: 32%;
    background-color: #FFFFFF;
}

.rectangle-home{
    top: 15.5%;
}

.rectangle-destination{
    top: 23%;
}

.rectangle-crew{
    top: 30.5%;
}

.rectangle-technology{
    top: 38%;
}

.nav_close{
    position: absolute;
    top: 7%;
    right: 39%;
    cursor: pointer;
}

/* Show menu */
.show-menu{
    right: -32%;
}

/* MAIN SECTION */
.home{
    position: relative;
    overflow: hidden;
}

.home_container{
    position: relative;
    padding-top: 3rem;
    row-gap: 1rem;
}

.home_data{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.home_subtitle{
    font-family: var(--font-barlow-condensed);
    font-size: var(--h3-font-size);
    line-height: 19px;
    letter-spacing: 2.7px;
    text-transform: uppercase;
    color: var(--text-color);
    margin-bottom: 1rem;
}

.home_title{
    font-family: var(--font-bellefair);
    font-weight: var(--font-regular);
    font-size: 5rem;
    line-height: 100px;
    text-transform: uppercase;
}

.home_description{
    text-align: center;
}

.home_text{
    font-family: var(--font-barlow);
    font-weight: var(--font-regular);
    font-size: var(--normal-font-size);
    line-height: 25px;
}

.home_btn{
    width: 150px;
    height: 150px;
    display: flex;
    background: #FFFFFF;
    border-radius: 100%;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 11%;
}

.btn_text{
    font-family: var(--font-bellefair);
    font-weight: var(--font-regular);
    font-size: var(--h2-font-size);
    line-height: 23px;
    letter-spacing: 1.25px;
    text-transform: uppercase;
    color: #0B0D17;
}

/* Breakpoints */
/* Tablet */
@media screen and (min-width:577px) {
    .nav_toggle,
    .nav_close,
    .nav_nums{
        display: none;
    }

    .container{
        height: 100%;
        margin: auto;
    }
    .section{
        padding: 7rem 0 2rem;
    }
    
    .nav{
        margin: 0;
    }

    .nav_menu{
        display: flex;
        width: 70%;
        background-color: rgba(255, 255, 255, 0.04);
        backdrop-filter: blur(96px);
        padding-top: 2.5rem;
        padding-bottom: 2.5rem;
        justify-content: center;
    }

    .nav_logo{
        margin-left: 5%;
    }

    .nav_list{
        flex-direction: row;
        row-gap: 0;
        column-gap: 2rem;
        padding: 0rem;
    }

    .nav_link:hover{
        border-bottom: .2rem solid rgba(255, 255, 255, 0.5);
        padding-bottom: 2.3rem;
    }
    
    .nav_selectedline{
        border-bottom: .2rem solid #FFFFFF;
        padding-bottom: 2.3rem;
    }

    .rectangle-home,
    .rectangle-crew,
    .rectangle-destination,
    .rectangle-technology{
        display: none;
    }

    .home_container{
        padding-top: 4rem;
        height: 100%;
        row-gap: 1.75rem;
    }

    .home_subtitle{
        height: 1.5rem;
        font-size: var(--h2-font-size);
        line-height: 24px;
        letter-spacing: 3.375px;
    }

    .home_title{
        height: 150px;
        font-size: 9.375rem;
        line-height: 150px;
    }
    
    .home_description{
        font-size: var(--h3-font-size);
        line-height: 28px;
        width: 55%;
        margin-left: auto;
        margin-right: auto;
    }

    .home_btn{
        width: 230px;
        height: 230px;
        margin-top: 9%;
        cursor: pointer;
    }

    .btn_text{
        font-size: 2rem;
        line-height: 37px;
        letter-spacing: 2px;
    }

}

/* Desktop */
@media screen and (min-width:1100px) {
    
    hr{
        position: relative;
        left: 2%;
        width: 35%;
        background: #FFFFFF;
        opacity: 0.25;
        z-index: var(--z-tooltip);
    }

    .nav{
        padding-top: 3%;
    }

    .nav_nums{
        display: inline-block;
    }

    .grid{
        grid-template-columns:[line1] 500px repeat(3,1fr);
        gap: 2rem;
    }

    .section{
        padding-bottom: 8%;
    }

    .home_container{
        margin-top: 15%;
        margin-left: 12%;
        margin-right: 12%;
    }

    .home_data{
        width: min-content;
        margin: 0;
    }
    
    .home_subtitle{
        text-align: left;
        font-size: 1.75rem;
        line-height: 34px;
    }

    .home_title{
        text-align: left;
        font-size: 9.375rem;
        line-height: 172px
    }

    .home_description{
        width: 90%;
        margin: 0;
        grid-row: 2/3;
        text-align: left;
    }

    .home_text{
        font-size: 1.125rem;
        line-height: 32px;
    }

    .home_btn{
        margin: 0;
        width: 274px;
        height: 274px;
        grid-row-start: 1;
        grid-row-end: 3;
        grid-column: 4;
        align-self: flex-end;
        -webkit-transition: box-shadow 0.2s;
        -moz-transition: box-shadow 0.2s;
        transition: box-shadow 0.2s;
    }

    .home_btn:hover{
        box-shadow: 0 0 0 5rem rgba(255, 255, 255, 0.1);
    }
    
    .btn_text{
        font-size: 2rem;
        line-height: 37px;
        letter-spacing: 2px;
    }

}